{% extends "base.html" %} 
{% load static %} 

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}" />
{% endblock %} 

{% block content %}

<br/>
{% comment %} add a search form by category {% endcomment %}
<form action="{% url 'news:searchResults' %}" method="get">
    <label for="category">Search Stories by Category:</label>
    <select id="category" name="category">
        <option value="">All</option>
        <option value="politics">Politics</option>
        <option value="sports">Sports</option>
        <option value="entertainment">Entertainment</option>
        <option value="technology">Technology</option>
        <!-- Add more categories as needed -->
    </select>
    <button type="submit">Search</button>
</form>
{% comment %} <a href="{% url 'news:newStory'%}">Add NewStory</a> {% endcomment %}
{% comment %} add a search form by story.title, then choose the one to update{% endcomment %}


<h2>Latest News</h2>

<div id="latest-stories">
        {% if latest_stories %} 
          {% for story in latest_stories %}
              <!-- <p>{{ story.title }}</p> -->
              {% include "./storyCard.html" with story=story position=forloop.counter %} 
          {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>

<div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                <!-- <p>{{ story.title }}</p> -->
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>
{% endblock %}
